
body {
	background-color: white;
	font-family: Futura,Trebuchet MS,Arial,sans-serif;
	line-height: 1.5em;
	margin: 10px 0px 1px 0px;
	-webkit-font-smoothing:antialiased;
}

.wrapper {
	width: 940px;
	margin: 0 auto;
	border: 1px solid blue;
	background-color: white;
	border-radius: 25px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

header {
	position: relative;
	width: 90%;
	height: 20%;
	background-color: white;
	padding: 30px 20px 30px 20px;
	border-bottom: 1px solid #323042;
	clear: both;
}

h1 {
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
	text-transform: uppercase;
	text-align: center;
	/*z-index: 1;*/
	font-size: 46px;
	width: 90%;
	height: 10%;
	padding: 30px 20px 30px 20px;
	margin: auto;
	color: white;
	background-color: #1C21A6;
	border-radius: 30px;
}
nav ul {
  list-style: none;
  display: flex;
	flex-direction: column;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	}

li {
	display: none;
	display: block;}

a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-size: 0.7em;
  color: blue;
  text-align: center;
  padding: 14px 30px;
  transition: background .20s, box-shadow .10s;
}

.heart {
	display: none;
  margin: 0 auto;
  order: -1;
	padding: 12px 30px;
	display: block;
	order: 0;
	margin: initial;
}

.heart-trigger {
  display: block;
  margin: 0 auto;
  order: -1;
  padding: 12px 30px;
	display: none;
}
.visible {
  display: block;
  transform: scale(1);
}

.fa-heart {
  font-size: 3em;
  color: yellow;
  transition: all .2s ease-in-out;}

a:hover {
	color: yellow;
	transform: scale(1.1);
}
.overview {
	position: relative;
	width: 100%;
	height: 40%;
	padding: 10px 0px 10px 0px;
	border-bottom: 1px solid pink;
	clear: both;
}

article {
	width: 100%;
	margin: auto;
	padding: 50px 0 10px 0px;
	font-family: Futura,Trebuchet MS,Arial,sans-serif;
	text-transform: uppercase;
	border: 1px solid orange;
}

.links {
	position: relative;
	padding: 5px 0px 10px 0px;
	width: 109%;
	border-bottom: 1px solid green;
	list-style: none;
	display: flex;
	flex-direction: column;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.links nav {
	margin: auto;
	text-align: center;
	flex-direction: row;
	display: flex;s
}

aside nav li a {
	display: inline;
	flex-direction: row;
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	color: #0B0269;
	/*opacity: 0;*/
}

article h2 {
	font-family: Futura,Trebuchet MS,Arial,sans-serif;
	margin: 10px 0px 10px 0px;
	padding: 0px;
	text-align: center;
	color: #1C21A6;
}

article p {
	text-align: center;
}
/*Mapbox Code*/

.sidebar {
		position: relative;
		width:33.3333%;
		height:100%;
		overflow: hidden;
		border-right: 1px solid rgba(0,0,0,0.25);
		top:0;left:0;
		clear: both;

	}
.pad2 {
			padding: 10px;
		}

.quiet {
		  color:#888;
			}

.map  {
		position: relative;
		left:33.3333%;
  	width:66.6666%;
		top:0;bottom:0;
	 	border-left:1px solid #fff;
	}

.heading {
  background: white;
  border-bottom:1px solid #eee;
	height:60px;
 line-height:60px;
 padding:0 10px;
}

.heading h2 {
  color: blue;
	padding: 10px 10px 10px 10px;
}
.listings {
  height:100%;
	overflow: auto;
  padding-bottom:60px;
}
.listings .item {
  display:block;
  border-bottom:1px solid #eee;
  padding:10px;
  text-decoration:none;
}
.listings .item:last-child  { border-bottom:none; }
.listings .item .title  {
  display:block;
  color:#00853e;
  font-weight:700;
}
.listings .item .title small { font-weight:400; }
.listings .item.active .title,
.listings .item .title:hover { color:#8cc63f; }
.listings .item.active {
  background-color:#f8f8f8;
}

::-webkit-scrollbar {
  width:3px;
  height:3px;
  border-left:0;
  background:rgba(0,0,0,0.1);
}
::-webkit-scrollbar-track {
  background:none;
}
::-webkit-scrollbar-thumb {
  background:#00853e;
  border-radius:0;
}

/* Marker tweaks */
.leaflet-popup-close-button {
  display:none;
}
.leaflet-popup-content {
  font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding:0;
  width:200px;
}
.leaflet-popup-content-wrapper {
  padding:0;
}
.leaflet-popup-content h3 {
  background:#91c949;
  color:#fff;
  margin:0;
  display:block;
  padding:10px;
  border-radius:3px 3px 0 0;
  font-weight:700;
  margin-top:-15px;
}
.leaflet-popup-content {
  padding:10px;
}
.leaflet-container .leaflet-marker-icon { cursor:pointer; }
//*end map*//


footer {
	font-size: 80%;
	height: 10%;
	font-family: Futura,Trebuchet MS,Arial,sans-serif;
	color: blue;
	text-align: center;
	padding: 10px 0px 0px 10px;
	border-radius: 25px;

}
