
body {
	background-color: white;
	font-family: 'Source Sans Pro';
	line-height: 1.5em;
	margin: 20px 0px 30px 0px;
	-webkit-font-smoothing:antialiased;
}

.wrapper {
	width: 940px;
	margin: 0 auto;
	}

* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

header {
	position: relative;
	width: 100%;
	height: 200px;
	padding: 40px 0px 0px 0px;
	clear: both;
}

h1 {
  font-family: Garamond,sans-serif;
	font-style: italic;
	text-align: center;
	/*z-index: 1;*/
	font-size: 100px;
	font-weight: 400;
	width: 100%;
	height: 40%;
	margin: 0;
	color: #0B0269;
	padding: 20px 20px 20px 20px;
}

h2 {
  color:#0B0269;
	font-family: Garamond,sans-serif;
	font-style: italic;
	font-size: 70px;
	font-weight: 400;
	text-align: center;
	font-weight: 400;
	width: 100%;
	height: 40%;
}


h3 {
font-size: 36px;
font-style: italic;
text-align: center;
 color: #0B0269;
 font-family: Garamond;
 letter-spacing: 3px;
 font-weight: 300;
}

h4 {
  color: #0B0269;
	font-style: italic;
	font-family: Garamond;
	font-size: 30px;
	height:30px;
 	line-height:40px;
 	padding: 0px 0px 30px 0px;
	text-align: center;
}

h5 {
  color: #0B0269;
	font-family: Garamond;
	font-size: 24px;
	height:30px;
 	line-height:40px;
 	padding: 0px 0px 30px 0px;
	text-align: center;
}

nav ul {
  list-style: none;
  display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orientation: vertical;
	-webkit-box-direction:normal;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	-webkit-box-orient: horizontal;
	-webkit-box-direction:normal;
	-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
		-ms-flex-align: center;
				align-items: center;
}

nav ul a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: 'Source Sans Pro';
  font-size: 16px;
  color: #0B0269;
  text-align: center;
  padding: 14px 14px;
	-webkit-transition: background .25s box-shadow: 10s;
  transition: background .25s, box-shadow .10s;
}

nav ul a:hover {
	color:  #D5DB27;
	padding: 20px;
}

.heart {
	display: none;
	margin: 0 auto;
	-webkit-box-ordinal-group: 0;
	-webkit-order; -1;
		-ms-flex-order: -1;
				order: -1;
	padding: 12px 30px;
	display: block;
	-webkit-box-ordinal-group: 1;
	-webkit-order: 0;
		-ms-flex-order: 0;
			order: 0;
			margin: initial;
}

.heart-trigger {
	display: block;
	margin: 0 auto;
	-webkit-box-ordinal-group: 0;
	-webkit-order: -1;
		-ms-flex-order: -1;
				order: -1;
	padding: 15px 30px;
	display: none;
}
.visible {
	display: block;
	-webkit-transform: scale(1);
		-ms-transform: scale(1);
				transform: scale(1);
}
.fa-heart {
	font-size: 1.8em;
	color:  #0B0269;
  -webkit-transition: all .2s ease-in-out;
					transition: all .2s ease-in-out;
}

.fa-heart:hover {
	color: #D5DB27;
	font-size: 1.2em;
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
			transform: scale(1.3);
}

.overview {
	position: relative;
	font-family: Garamond;
	width: 100%;
	height: 40%;
	padding: 5px 0px 5px 0px;
	clear: both;
}


/*Mapbox*/

.heading {
  background-color: white;
	height:60px;
 	padding:0px 10px 0px 10px;
	clear: both;
}


.navigation {
	border-bottom: 1px solid #eee;
}


.top {
	width: 100%;
	padding: 0px 0px 20px 0px;
}

.storyone {
	width: 50%;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
}

.storyone p {
	color: #0B0269;
	font-family: 'Source Sans Pro';
	font-size: 16px;
	line-height:20px;
	padding: 10px 10px 5px 0px;
	text-align: justify;
}

.storytwo {
	width: 50%;
	padding-left: 20px;
	padding-right: 20px;
	float: right;
}
.storytwo p {
	color: #0B0269;
	font-family: 'Source Sans Pro';
	font-size: 16px;
	line-height:20px;
	padding: 10px 0px 0px 0px;
	text-align: justify;
}

.storythree {
	width: 100%;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	clear: both;
}

.storythree p {
	color: #D5DB27;
	font-family: 'Source Sans Pro';
	font-size: 20px;
	line-height:20px;
	padding: 10px 0px 10px 0px;
	text-align: center;

}
.todayone {
	width: 50%;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
}

.todayone p {
	color: #0B0269;
	font-family: 'Source Sans Pro';
	font-size: 16px;
	line-height:20px;
	padding: 10px 10px 5px 0px;
	text-align: justify;
}

.todaytwo {
	width: 50%;
	padding-left: 20px;
	padding-right: 20px;
	float: right;
}
.todaytwo p {
	color: #0B0269;
	font-family: 'Source Sans Pro';
	font-size: 16px;
	line-height:20px;
	padding: 10px 0px 0px 0px;
	text-align: justify;
}
.todaythree {
	width: 50%;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	float: right;
}

.todaythree p {
	color: #0B0269;
	font-family: 'Source Sans Pro';
	font-size: 16px;
	line-height:20px;
	padding: 10px 0px 0px 0px;
	text-align: justify;

}

.todayfour {
	width: 100%;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	clear: both;
}

.todayfour p {
	color: #D5DB27;
	font-family: 'Source Sans Pro';
	font-size: 20px;
	line-height:20px;
	padding: 10px 0px 10px 0px;
	text-align: center;

}
.sidebar {
		position: relative;
		overflow: scroll;
		width: 33.3333%;
		height: 600px;
		float: left;
		background-color: white;
	}

.project-sidebar {
	position: relative;
	width: 70%;
	float: right;
	background-color: #eee;
	padding: 13px;
}

main {
	width: 100%;
}

main a {
	text-decoration: none;
	color: #D5DB27;
	font-weight: 500;
}

main a:hover {
	color: #0B0269;
}

.project-style {
	font-family: Garamond,sans-serif;
	font-size: 16px;
	font-style: italic;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

.organization {
	font-size: 24px;
	color: #0B0269;
	font-weight: 800;
	-webkit-margin-before: 0em;
	-webkit-margin-after: .5em;
}

.project-section {
	width: 29%;
	float: left;
	padding-top: 20px;
	background-color: #eee;
	padding: 13px;
}

.project-page-section {
	font-size: 20px;
	color: #0B0269;
	font-weight: 600;
	-webkit-margin-before: .2em;
	-webkit-margin-after: .2em;
}

.project-section ul {
	-webkit-margin-before: 0em;
	-webkit-margin-after: .2em;
}

.map  {
		position: relative;
		float: right;
	  width:66.6666%;
		height: 600px;
		background: white;
		}

/*.pad2 {
	  padding:20px;
}*/

.quiet {
		  color: #0B0269;
			font-size: 14px;
			font-weight: 500;
			}

.listings {
	padding:10px 10px 10px 10px;
	width:100%;
	overflow: auto;
}

.chooseCategory {
	font-family: 'Source Sans Pro';
	color: #0B0269;
	text-align: center;
	font-size: 18px;
	font-weight: 300;
	display: block;
}

.navLinks {
	list-style-type: none;
	padding-left: 2px;
}

.nav {
	margin-left: none;
	padding:20px 10px 20px 10px;
	border-bottom: 1px solid #eee;
	display: block;
	text-align: center;
}
a {
}
.nav a {
	font-size: 25px;
	color: #0B0269;
	font-family: Garamond,sans-serif;
	text-decoration: none;
}

.nav a:hover {
	color: #D5DB27;
}

.listings .item {
  display:block;
  border-bottom:1px solid #eee;
  padding:10px;
  text-decoration:none;
	list-style-type: none;
}

.listings .item:last-child  { border-bottom:none; }
.listings .item .title  {
  display:block;
  color: #D5DB27;
  font-weight:700;
}
.listings .item .title small { font-weight:500; }
.listings .item.active .title,
.listings .item .title:hover { color: #D5DB27; }
.listings .item.active {
background-color:white;
}

::-webkit-scrollbar {
  width:3px;
  height:3px;
  border-left:0;
  background:rgba(0,0,0,0.1);
}
::-webkit-scrollbar-track {
  background:none;
}
::-webkit-scrollbar-thumb {
  background:#0B0269;
  border-radius:0;
}

.clearfix { display:block; }
.clearfix:after {
	content:'.';
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

/* Marker tweaks */
.leaflet-popup-close-button {
  display:none;
}
.leaflet-popup-content div {
	padding:10px 10px 10px 10px;
  width:275px;
	height: 400px;
	background: white;

}

.leaflet-container h3 {
	font:400 32px/32px 'Garamond', Sans-serif;
}

.leaflet-container a {
	text-decoration: none;
	font-weight: 600;
	color: #0B0269;
}

.leaflet-popup-content-wrapper {
  padding:0;
	background-color: #0B0269;

}
.leaflet-popup-content h3 {
  background:#D5DB27;
  display:block;
  font-weight:700;
  margin-top:-15px;
}
.leaflet-popup-content {
  padding:10px 10px 10px 10px;
}
.leaflet-container .leaflet-marker-icon { cursor:pointer; }

.leaflet-popup-content button {
	background-color: #D5DB27;
	font-size: 16px;
	font-weight: bold;
	font-family: Garamond;
	color: #0B0269;
	border: 1px solid #0B0269;
	display:block;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	float: left;
}
.leaflet-popup-content button2 {
	background-color: #D5DB27;
	font-size: 16px;
	font-weight: bold;
	font-family: Garamond;
	color: #0B0269;
	border: 1px solid #0B0269;
	display:block;
	margin: 10px 10px 1px 10px;
	float: right;
}


.leaflet-popup-scrolled {
	overflow: auto;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}
/*end map*/

footer {
	width: 100%;
	font-family: Garamond;
	color: #0B0269;
	text-align: center;
	padding: 20px 20px 20px 20px;
	float: right;
}

@-webkit-keyframes heartBounce {
   	0% {
		 -webkit-transform: scale(1.0);
		}
   	50% {
			-webkit-transform: scale(2.0);
		}
		100% {
			-webkit-transform: scale(1.0);
		}


@-moz-keyframes heartBounce {
   	0% {
		 -moz-transform: scale(1.0);
		}
   	50% {
			-moz-transform: scale(2.0);
		}
		100% {
			-moz-transform: scale(1.0);
		}
}

@keyframes heartBounce {
   	0% {
		 transform: scale(1.0);
		}
   	50% {
			transform: scale(2.0);
		}
		100% {
			transform: scale(1.0);
		}
}

//* Ukraine Today CSS*//


.anticorruption {
	width: 50%;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
	}


.goodgovernance {
	width: 50%;
	padding-left: 20px;
	padding-right: 20px;
	float: right;
	}


.economicgrowth {
	width: 40%;
	float: left;
}


.socialpolicy {
	width: 40%;
	float: right;
}
